body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2736 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:640px;
}
#u2737 {
  position:absolute;
  left:2px;
  top:312px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2738 {
  position:absolute;
  left:309px;
  top:135px;
  width:395px;
  height:259px;
}
#u2739 {
  position:absolute;
  left:2px;
  top:122px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:12px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2740 {
  position:absolute;
  left:309px;
  top:135px;
  width:395px;
  height:55px;
}
#u2741 {
  position:absolute;
  left:2px;
  top:20px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2742 {
  position:absolute;
  left:390px;
  top:150px;
  width:201px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2743 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u2744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2744 {
  position:absolute;
  left:372px;
  top:220px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2745 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2746 {
  position:absolute;
  left:372px;
  top:271px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2747 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2748 {
  position:absolute;
  left:421px;
  top:241px;
  width:200px;
  height:1px;
}
#u2749 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2750 {
  position:absolute;
  left:421px;
  top:292px;
  width:200px;
  height:1px;
}
#u2751 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2752 {
  position:absolute;
  left:423px;
  top:339px;
  width:134px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2753 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
